.profile-pic{
    height: 50vh;
}
.profile-pic img{
    border-radius: 50%;
    height:75%;
    width:50%;
    margin:auto;
}
.card-header a{
    text-decoration: none;
    font-size: bold;
    color:black;
}
.icon{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
/* .profile-photo{
    position:fixed;
} */

.card-body img{
    height:300px;
    width:400px;
    margin:auto;
}