{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
    {% for image in images %}
    <div class="card w-50 image-display m-auto">
        <h5 class="card-header d-flex flex-row">
            <a href="/profile/{{image.author.username}}"> 
            {% if image.author.profile.profile_pic %}
            <div class="profile-icon mx-3"> <img src="{{image.author.profile.profile_pic.url}}" alt="" class="icon"> </div>
           {% endif %}
           <div class="name ml-3">
            <span>{{ image.author.username}} <br> <span class='text-muted fs-6'><i> {{ image.location}}</i></span></span></a> 
           </div> 
        </h5>
        <div class="card-body">
            <img src="{{ image.image.url}}" class="card-img-top image-fluid" alt="{{ image.name}}">
          <h3 class="card-title"><a href="{% url 'like_image' image.id %}"><i class="fas fa-heart m-2 text-danger"></i></a><i class="far fa-comment m-2"></i></h3>
          <!-- {{image.comments.}}
          
          {% for comment in image.comments.all %} 
      
            {{ comment.date_posted }}<br>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.content }}</p>
            {% empty %}
            <p>There is no comments</p>
            {% endfor %} -->
          <p class="card-text"> <b>{{ image.author.username }}</b>{{ image.caption }}</p>
          <p>{{ image.likes|length}} likes</p>
          <span class="text-muted"> <a href="/post/{{image.id}}">
            {%if image.comments.all|length > 0%}
            view all  {{image.comments.all|length}} comments
            {% else %}
            No comments yet click to add!
            {% endif %}
        </a></span>
        </div>
        
        <div class="card-footer">
            <form action="{% url 'post' image.id%}" method="POST">
                {% csrf_token %}
            {{form.content}}
            
               <a href="http://"><input type="submit" class="btn btn-primary btn-sm" value="Post" name = 'postComment'></a>
          
            </form>
        </div>
      </div>
    {% endfor %}

{% endblock %}