{% extends 'base.html' %}

{% block content %}
<div class="w-75 vh-100">
    <div class="row w-75 m-auto mt-5">
        <div class="col-md-6 profile-photo">
            <div class="card">
                <img src="{{image.image.url}}" alt="">
            </div>
            

        </div>
        <div class="col-md-6">
            <div class="">
                <h5 class="card-header"><a href="/profile/{{image.author.username}}"> <img src="{{image.author.profile.profile_pic.url}} " alt="" class="icon"> {{ image.author.username}}</a>
                <p>{{ image.caption}}</p></h5>
                {% if comments%}
                {% for comment in comments %}
                    <h6> <img src="{{comment.author.profile.profile_pic.url}}" alt="" class="icon"> <b>{{comment.author}}</b> {{comment.content}}</h6>
                {% endfor %}
                {% else%}
                <p>No comments yet</p>
                {% endif %}
                <form action="" method="POST">
                    {% csrf_token %}
                {{form.content}}
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-sm" value="Post">
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}