{% extends 'base.html' %}

{% block content %}
<div class="row vh-50">
    <div class="col-6">
        <div class="card profile-pic sticky-top">
            {% if profile.profile_pic %}
        <img src="{{profile.profile_pic.url}}" class="img-fluid" alt="">
        {% else%}
        <p>No profile pic</p>
        {% endif%}
        </div>
    </div>
    <div class="col-6">
        <h2>{{user.username}}</h2>
        <p>{{profile.bio}}</p>
        {{user.posts}}
    </div>
</div>
<hr>
<div class="row">
    <h3>posts</h3>
    {% for post in posts%}
    <div class="card w-25">
        <img src="{{ post.image.url}}" alt="">
    </div>    
    {% endfor %}
    {% endblock %}
</div>

